.wrapper{
	margin: 0 auto;
	width: 1000px;
	min-height: 100%;
	background-color:
}

body{
	background-image: url(../images/bg.jpg);
	background-size: 100%;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}


#button{
	background-color: rgba(5,5,5,0.5);
	text-align: center;
	width: 85px;
	height: 100px;
	color: white;
}

#buttonCom{
	background-color: rgba(5,5,5,0.7);
	text-align: center;
	width: 85px;
	height: 100px;
	color: white;
}

td{
	width:50px;
}

.footer{
	height: 40px;	
	background-color: #E18700;
}

#resultWindow{
	border: black solid 2px;
	width: 300px;
	height: 100px;
	padding-right: 15px;
	font-size: 30px;
	text-align: right;
	margin-bottom: 25px;
}
#operantWindow{
	border: black solid 2px;
	float:left;
	width: 50px;
	height: 100px;
	padding-right: 15px;
	font-size: 30px;
	text-align: right;
	background-color: #E18700;
	color: white;
}
table{
	margin: -5px;
}
td:hover{
	background-color: rgba(0,0,0,0.9);
}

#calcFrame{
	padding:25px;
	width: 350px;
	height: 550px;
	margin-top: 50px;
	margin-left: 300px;
	background-color: rgba(0,0,0,0.5);
}

